<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="User" class="com.stark1307.day02spring作用域.User" scope="singleton"/>
    <bean id="UserProto" class="com.stark1307.day02spring作用域.User" scope="prototype"/>
</beans>